@import url(/css/main.css);

:root {
  --primary-color: #ff382e;
  --secondary-color: #5348c7;
  --background-color: #f7f7f7;
  --text-color: #282828;
  --accent-color: #3b82f6;
}

.grid-container {
  width: 100vw;
  height: 100vh;
}

header {
  height: 10vh;
}

main {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.main-head {
  padding: 1.5rem;
  width: 90%;
  font-size: 2.5rem;
}

.main-subhead {
  width: 95%;
  font-size: 1.5rem;
  align-self: flex-start;
}

.main-buttons {
  margin-top: 1rem;
  align-self: center;
}

footer {
  /* background-color: #046865; */
  height: 15vh;
}

.header {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: auto;
}

.footer {
  /* color: #f7f7f2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons i {
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  padding: 0.2rem 0.5rem;
}
