@import url(/css/main.css);
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap");
:root {
  --primary-color: hsl(262, 83%, 58%);
  --primary-dark: hsl(262, 83%, 48%);
  --secondary-color: #0f1729;
  font-family: "Montserrat", sans-serif;
}

.grid-container {
  background-color: #f9fafc;
  color: #0f172a;
}

header {
  height: 10vh;
}

.header {
  width: 75%;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-img {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}

.header-nav {
  color: var(--secondary-color);
  margin-left: auto;
}

.header-nav ul {
  display: flex;
  margin: auto 1rem;
}

.header-nav ul li {
  list-style: none;
  font-weight: 500;
  font-size: 1.2rem;
}
.header-nav ul li:nth-child(1) {
  margin-right: 1rem;
}

.main {
  width: 70%;
  height: 75vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.main-head {
  text-align: center;
  padding: 1.5rem;
  width: 90%;
  font-size: 2rem;
}

.main-subhead {
  padding: 1rem;
  font-size: 1.4rem;
  align-self: flex-start;
}

.main-buttons {
  margin-top: 1rem;
}

.main-buttons .btn-primary {
  background-color: var(--primary-color);
  font-weight: 500;
}

.btn-secondary {
  border: 2px var(--primary-color) solid;
  color: var(--secondary-color);
  background-color: transparent;
  font-weight: 500;
}

.main-buttons .btn-primary:hover {
  background-color: var(--primary-dark);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15vh;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons i {
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  padding: 0.2rem 0.5rem;
}

a:hover {
  color: var(--primary-dark);
}
