* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  width: 100vw;
  height: 100vh;
}

header {
  height: 10vh;
  /* background-color: rgb(192, 49, 49); */
}

main {
  /* background-color: rgb(187, 67, 187); */
  height: 80vh;
}

footer {
  /* background-color: rgb(221, 201, 201); */
  height: 10vh;
}

.header {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: auto;
}
