.btn {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--grey);
  color: var(--white);
}

.btn-success {
  background-color: var(--green);
  color: var(--white);
}

.btn-danger {
  background-color: var(--red);
  color: var(--white);
}

.btn-warning {
  background-color: var(--yellow);
  color: var(--black);
}

.btn-info {
  background-color: var(--cyan);
  color: var(--white);
}
.btn-info {
  background-color: var(--cyan);
  color: var(--white);
}

.btn-light {
  background-color: var(--light);
  color: var(--black);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--white);
}

.btn-lg {
  font-size: 1.4rem;
}

.btn-sm {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
}

.btn-block {
  width: 100%;
}
/* 
.btn-float {
  position: absolute;
  bottom: 0px;
  left: 20px; 
} */

.btn:hover {
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease-out;
}

.btn-primary:hover {
  background-color: var(--blue-d);
}

.btn-secondary:hover {
  background-color: var(--grey-d);
}

.btn-success:hover {
  background-color: var(--green-d);
}

.btn-danger:hover {
  background-color: var(--red-d);
}

.btn-warning:hover {
  background-color: var(--yellow-d);
}

.btn-info:hover {
  background-color: var(--cyan-d);
}

.btn-light:hover {
  background-color: var(--grey-d);
  color: var(--white);
}

.btn-dark:hover {
  background-color: var(--white);
  color: var(--black);
  border: var(--black) 1px solid;
}
